<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Bank | Detail</title>
    <link rel="shortcut icon" href="img/logo5.png" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style_det.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>

        </label>
        <img src="img/logo6.png" alt="">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="/customers">Customers</a></li>
        </ul>
    </nav>

    <div class="container" >
        <h3 class="head">CUSTOMERS &nbspDETAILS</h3>
        <p><b>Name : </b><%=customerDetail.name %></p><br>  
        <p><b>Account No : </b><%=customerDetail._id %></p><br>     
        <p><b>Email : </b><%=customerDetail.email %></p><br> 
        <p><b>Balance : </b><%=customerDetail.balance %></p>    
        <form action="/transfer" method="post">
        <button  class="btn" type="submit" name="transfer" value=<%=customerDetail._id%> >Transfer Money</button>
        </form>
        </div>
        <footer>
            <div>
                <p class="footer">Copyright© 2021 . All rights Reserved.</p>
            </div>
        </footer>
</body>
</html>